.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.AppHeader{
  height: 50px;
  display: flex;
  border-bottom: 2px solid gold;
  justify-content: space-between;
  padding: 5px 25px 5px 25px;
  align-items: center;
  
 
}

/* .PageContent{
  height: 80px;
  display: flex;
  border-bottom: 2px solid gold;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
.SideMenu{
  height: 80px;
  display: flex;
  border-bottom: 2px solid gold;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}
*/

.AppFooter{
  height: 40px;
  display: flex;
  border-top: 2px solid gold;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;

  
} 


